<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="pessoalSqlServer" connectionString="Server=Localhost;Database=Pessoal;User Id=sa;Password=Imp@ct@" providerName="System.Data.SqlClient" />

    <!--
    <add name="pessoalSqlServer" connectionString="Server=localhost\sqlexpress;Database=Pessoal;Integrated Security=true" providerName="System.Data.SqlClient" />
    -->

  </connectionStrings>
  
</configuration>